.c{
    height: 100vh;
    width: 100%;
    position: relative;
}
.c-bg{
    width: 20px;
    height: 100%;
    background-color: rgb(153, 0, 255);
    position: absolute;
}

.c-left{
    padding: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}   

.c-title{
    font-size: 60px;
    top: 100px;
    height: 20px;
    line-height: 0;
}
.c-desc{
   margin: 50px 0px;
   width: 50%;
   line-height: 0;
   font-weight: 200;
}

.c-form{
    background-color: rgb(125, 54, 238);
    width: 50%;
    height: 100%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;

}
form{
    width: 100%;
    height: 75vh;
    margin-top: 20px;
    border-radius: 30px;
    background-color: rgb(125, 54, 238);
    align-items: center;
    justify-content: center;
   

}
input{
  
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 5px;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
}

textarea{
    width: 50%;
    margin: 10px 0px;
    font-size: 14px;
    padding-right: 10px;
    border: none;
    border-radius: 5px;
}

.c-button{
    width: 50%;
    border: none;
    padding: 15px;
    background-color: white;
    color: black;
    font-weight: 500;
    cursor: pointer;
    margin: 10px 0px;
    font-size: 14px;
    border-radius: 5px;
    padding-left: 10px;
}

label{
    color: white;
  
}

@media screen and (max-width: 480px) {
    .c-wrapper{
        flex-direction: column;
    }
}
