.c{
    height: 100vh;
    width: 100%;
    position: relative;
}
.c-bg{
    width: 20px;
    height: 100%;
    background-color: rgb(154, 33, 224);
    position: absolute;
}

.c-left{
    padding: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}   

.c-title{
    font-size: 60px;
    top: 100px;
    height: 20px;
    width: 80%;
}
.c-info-item{
   display: flex;
   align-items: center;
   margin: 50px 0px;
   font-weight: 300;
   width: 70%;
}
.c-icon{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.p-desc{
    font-weight: 200;
}
form{
    width: 100%;
    margin-top: 20px;
    background-color: rgb(125, 54, 238);

}
input{
    width: 50%;
    height: 50px;
    border-bottom: 1px solid black;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
}

textarea{
    width: 90%;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
}

.c-button{
    border: none;
    padding: 15px;
    background-color: white;
    color: black;
    font-weight: 500;
    cursor: pointer;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
}

label{
    color: white;
}

.c-form{
    background-color: blueviolet;
    width: 50%;
    height: 100%;
}