.i{
    display: flex;
    height: 100vh;
}

.i-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.i-presentacion{
    display: flex;
    flex-direction: column;
    column-gap: 1px;
    align-items: center;
    justify-content: center;
}
.i-intro{
    font-size: 60px;
    padding: none;
}

.i-profesion{
    font-size: 40px;
    padding: none;

}

.i-title{
    height: 50px;
    overflow: hidden;
}
.i-title-item{
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: blueviolet;
    display: flex;
    align-items: center;
}

.i-left-wrapper{
    padding: 50px;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.i-title-wrapper{
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

.i-info{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes move { 
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(-200px);
    }

}

.i-button{
    width: 200px;
    border: none;
    padding: 15px;
    background-color: rgb(127, 33, 250);
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 20px;
}

@media screen and (max-width: 480px) {
    .i{
        flex-direction: column;
    }

    .i-left-wrapper{
        padding: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
    }

    .i-desc{
        display: none;
    }
}

