
.cv{
    width: 30%;
    height: 40vh;
    margin: 20px 10px;
    border: 2px solid rgb(243, 242, 242);
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.cv-browser{
    height: 20px;
    background-color: rgb(52, 58, 58);
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
}

.cv-circle{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 3px;
    background-color: aliceblue;
}

.cv-img{
    width: 100%;
    transition: all 10s ease;
}

.cv:hover{
    transform: translateY(-100);
}

.cv-title{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.cv-desc{
    margin: 20px 0px;
}

.cv-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
